#subtitle {
    font-size: 14pt; 
}
.dates{
    border-bottom: 2px blue dashed;
    float: left;
}
#firstbox {

    background-color: #A8F0F0;
    text-align: right;
}
.secondbox{
    border: 4px #C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px 5px;
    margin-top: 10px;
    overflow: hidden;
}
#body2{
    border: 10px white solid;
    background-color: white;
}
body{
    background-image:url(./background.gif);
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
#img{
    float: right;
}